#search {
  margin-bottom: 2%;
}

/*.dashboard-btn {
  background-color: #00c301;
  color: white;
  margin: 0;
  margin-right: 1%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  line-height: 200%;
}

.modal-btn {
  background-color: #00c301;
  color: white;
}

.modal-quantity,
.modal-title {
  text-align: center;
}

.modal-quantity {
  margin-left: 5%;
  margin-right: 5%;
}

#modal-add-btn {
  margin-top: 2%;
} */

.chart-container {
  padding: 0;
  margin: auto;
}



.chart-text {
  margin-top: 2%;
}

/* .results {
  position: absolute;
  top: 140px;
  left: 17.4%;
  z-index: 9;
  width: 50.5%;
}

.results-item {
  width: 100%;
  cursor: pointer;
}

.results-item:hover {
  background-color: lightgray;
}

.result-img {
  max-width: 6%;
  max-height: 6%;
} */

/* @media (min-width: 1200px) {
  #main {
    max-width: 2000px;
  }
} */

/* Tablets */
/* @media only screen and (min-device-width : 768px) and (max-width: 1024px) {
  #main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .dashboard-btn {
    font-size: 70%;
    padding: 0;
    padding-top: 1.5%;
  }

  .row {
    margin: 0;
    padding: 0;
  }

  #nav-content {
    width: 100%;
    margin: 0;
    padding: 0;

  }

} */

/* Small devices */
/* @media only screen and (max-width: 767px) {
  #main {
    width: 100%;
    margin: auto;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  .row {
    margin: 0;
    padding: 0;
  }

  #search-form {
    width: 100%;
    padding: 0;
  }

  .dashboard-btn {
    width: 22%;
    margin: 0;
    margin-left: 2%;
    padding-left: 0.7%;
    padding-right: 0.7%;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 200%;
  }

  .results {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 9;
    width: 100%;
  }

  #nav-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

 
  #search{
    padding:0;
  }
} */