img{
  width:100%;
  border: 5px solid #00c301;
  border-top: 0;
  margin-bottom: 10px;
}

p{
  font-size: 1.1rem;
}

@media only screen and (max-width: 767px) {
  #main {
    margin: 0;
    width: 100%;
    padding: 10px;
  }

  h1{
    font-size:2rem;
  }
}