html,
body {
  height: 100%;
}

#main{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.login-form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-left: auto;
  padding-right:auto;
}

.login-form h2{
  text-align: center;
  padding-bottom: 20px;
}

.error{
  color: red;
  text-align: center;
  padding-top: 2%;
}