#main {
  width: 80%;
  margin: auto;
  padding: 1%;
}

#nav-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 80%;
  padding: 0;
}

.navbar-custom {
  background-color: #00C301;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

input{
  border-radius: 0px !important;
}

.nav-tabs>.nav-item>.nav-link{
  border-radius: 0px !important;
  color: #00c301 !important;
}


/* .nav-tabs>.nav-item>.nav-link.active{
  background-color: #00c301;
  color: white !important;
} */

.button {
  font-size: 15px;
  padding: 8px 16px;
  border: none;
  background-color: #00c301;
  color: white;
  font-weight: bold;
  display: inline-block;
  border-radius: 0 !important;
}

.btn-green{
  color: #fff;
  background-color: #00c301;
  border-color: #00c301;
  border-radius: 0 !important;
}

.button:hover {
  color: white;
  background-color: #00af00;
}

@media only screen and (max-width: 767px) {
  .container{
    margin:0;
    padding:0;
  }

  #nav-content{
    width:100%;
  }
}