
/* Search nav bar */
#search-form{
  margin-bottom: 1%;
  position: relative;
}

#search {
  padding: 0.9% !important;
  height: 1%;
}

.search-btn {
  padding-top: 4%;
  padding-bottom: 4%;
  margin-left: 2%;
  font-size:0.74vw;
}

.search-btn.active {
  background-color: #00af00;
}

/* Search results */
.results {
  position: absolute;
  top: 90%;
  left: 1%;
  z-index: 50;
  width: 73.6%;
}

.results-item {
  width: 100%;
  cursor: pointer;
}

.results-item:hover {
  background-color: lightgray;
}

.result-img {
  max-width: 6%;
  max-height: 6%;
}

/* Results modal */
.modal-btn {
  background-color: #00c301;
  color: white;
}

.modal-quantity,
.modal-title {
  text-align: center;
}

.modal-quantity {
  margin-left: 5%;
  margin-right: 5%;
}

#modal-add-btn {
  margin-top: 2%;
}

@media (min-width: 1200px) {
  #main {
    max-width: 2000px;
  }
}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-width: 1024px) {
  #main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    margin: 0;
    max-width: 2000px;
    padding: 0;
  }

  .dashboard-btn {
    font-size: 70%;
    padding: 0;
    padding-top: 1.5%;
  }

  .row {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #nav-content {
    width: 100%;
    margin: 0;
    padding: 0;

  }

}

/* Small devices */
@media only screen and (max-width: 990px) {
  #main {
    width: 100%;
    margin: auto;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  .row {
    margin: 0;
    padding: 0;
  }

  #search-form {
    width: 100%;
    padding: 3.5%;
    padding-top:1%;
  }

  #search {
    width: 80%;
    padding:2.5% !important;
  }

    /* Search results */
  .results {
    top: 80%;
    left: 2.7%;
    width: 76%;
  }

  #nav-content {
    width: 100%;
    margin: 0;
    padding: 0;

  }

  /* Search nav buttons */
  .search-btn{
    margin-right:0;
    font-size: 1rem;
  }

  #foodButton,
  #statisticsButton {
    display: none;
  }

  #homeButton {
    margin-left: 0;
    margin-right: 2%;
  }
}