@media only screen and (max-width: 768px) {
  #main {
    width: 100%;
    padding: 1%;
  }
}
@media (min-width: 1200px) {
  #main {
    max-width: 2000px;
  }
}

#back-btn {
  margin-bottom: 1%;
}

.btn {
  font-size: 15px;
  padding: 8px 16px;
  border: none;
  background-color: #00c301;
  color: white;
  font-weight: bold;
  display: inline-block;
  border-radius: 0 !important;
}

thead {
  background-color: #00c301;
  color:white;
}

#next-btn {
  float: right;
}

#date, .day-info {
  text-align: center;
}

.day-info{
  padding:0;
  font-size:1.2rem;
}

.day-info-div{
  margin-top:1%;
  margin-bottom: 1%;
}

table {
  table-layout: fixed;
}

.results {
  left: 19.1% !important;
}
